*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ambi-player';
  src: url('../icons/font/ambi-player.eot?74646678');
  src: url('../icons/font/ambi-player.eot?74646678#iefix') format('embedded-opentype'),
       url('../icons/font/ambi-player.woff2?74646678') format('woff2'),
       url('../icons/font/ambi-player.woff?74646678') format('woff'),
       url('../icons/font/ambi-player.ttf?74646678') format('truetype'),
       url('../icons/font/ambi-player.svg?74646678#ambi-player') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Colors */
:root {
  --background: rgba(250, 250, 250, 1);
  --default: rgba(30, 30, 30, 1);
  --white: rgba(255, 255, 255, 1);
  --charcoal: rgba(35, 61, 77, 1);
  --pumpkin: rgba(254, 127, 45, 1);
  --sunglow: rgba(252, 202, 70, 1);
  --olivine: rgba(161, 193, 129, 1);
  --polished-pine: rgba(97, 155, 138, 1);
}

/*video player icons*/
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-stop:before { content: '\e802'; } /* '' */
.icon-upload:before { content: '\e803'; } /* '' */

html {
  background-color: var(--background);
  background-repeat: repeat-y;
  background-size: cover;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(300px, 1900px);
  justify-content: center;
}

content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.navigation-bar {
  border: 2px groove grey;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color:#F5F5DC;
  text-align: center;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-point {
  float: left;
  display: block;
  color: #4B0082;
  text-align: center;
  font-size: 130%;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-point:hover,
.nav-point.selected {
  background-color:#B0C4DE;
  cursor: pointer;
  border-bottom-color: rgba(211,84,0,1);
  border-radius: 25%;
  font-size: 1.2em;
  color: yellow;
}

h2 {
  text-align: center;
  font-size: 100%;
  margin-top: 10px;
  color: var(--charcoal);
}

.comment-section {
  background-color: #ADD8E6;
  font-size: 130%;
  overflow: scroll;
}

.description-input {
  width: 500px;
  margin-left: 30px;
}

.saved-comments {
  color: red;
  font-size: 20px;
}

.button {
  display: block;
  margin: 50px auto;
  border-style: solid;
  border-width: 8px;
  border-color: var(--default);
  background-color: var(--white);
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase; 
  background-color: var(--olivine); 
}

.button:hover {
  cursor: pointer;
}

.main {
padding: 1em;
height: 800px;
border: 8px groove grey;
background-color: grey;
}

.hidden {
  display: none;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ambi-player";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#player {
    width: 920px;
    height: 230px;
    margin-left: 150px;
    border: solid 1px rgb(51, 51, 51);
    border-radius: 2px;
    padding: 0;
}

video {
    display: block;
    width: 920px;
    height: 680px;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: rgb(30, 30, 30);
}

.controls {
    width: 920px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: rgb(51, 51, 51);
}

.controls .button {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 0 0 10px;
    padding: 0;
    font-family: "ambi-player";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: var(--pumpkin);
}

.controls .button:hover {
    cursor: pointer;
    color: rgb(255, 129, 60);
}

.controls .button.play:before {
    content: "\E801";
}

.controls .button.play.paused:before {
    content: "\E800";
}

.controls .button.stop:before {
    content: "\E802";
}

.controls .button.file:before {
    content: "\E803";
}

.controls .upload {
    display: none;
}

.controls .seekbar {
    -webkit-appearance: none;
    display: block;
    float: left;
    width: 500px;
    height: 40px;
    margin: 5px 0 0 10px;
    background: transparent;
}

.controls .seekbar:focus {
    outline: none;
}

.controls .seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.controls .seekbar::-moz-range-thumb {
    border: solid 1px rgb(153, 153, 153);
    border-radius: 0;
    height: 30px;
    width: 8px;
    background: rgb(220, 220, 220);
    cursor: pointer;
}

.controls .seekbar::-moz-range-track {
    height: 8px;
    cursor: pointer;
    background: rgb(255, 129, 60);
    border: none;
}

.controls .seekbar::-moz-focus-outer {
    border: 0;
}

.controls .label.time {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 0 0 10px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    color: rgb(255, 129, 60);
}

@media (max-width: 600px) {
  div.box {
    grid-template-columns: 1fr;
  }
}